---
import Layout from '../layouts/Layout.astro';
import AboutContent from '../components/AboutContent';

export const prerender = true;
---

<Layout title="The PimpMyRide Team!">
    <main class="m-10">

        <AboutContent client:load />

    </main>
</Layout>