---
import Layout from '../layouts/Layout.astro';
import PMR from '../images/brand/PimpMyRide.png';
import { Divider } from '@nextui-org/react';
import { Image } from 'astro:assets'

export const prerender = true;
---

<Layout title="Welcome to PimpMyRide!">
    <main class="m-10">
        <section class="flex flex-col items-center justify-center lg:mt-2">
            <video class="z-0 absolute lg:mt-24 w-full" autoplay loop muted src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/SubaruOutbackOnStreetAndDirt.mp4" />
            <img class="z-10 col-span-12 px-20 lg:px-0 lg:mt-24"
                        alt="Pimp My Ride"
                        src={PMR.src}
                        width={300}
                        height={300}
                    />
        </section>
        <section class="grid grid-cols-12 mt-20 lg:mt-96 mb-12 lg:mb-24">
            <div class="text-center col-span-12 lg:text-left lg:col-span-8">
                <h1 class="text-4xl font-bold">What is PimpMyRide?</h1>
                <br />
                <p>PimpMyRide is not just a brand</p>
                <p>It's a project dedicated to fueling your passion for automobile content creation. 
                    Dive into the world of RC cars and unleash your creativity like never before. 
                    Whether you're a seasoned content creator or just getting started, PimpMyRide is here to elevate your automotive storytelling.</p>
            </div>
            <div class="col-span-12 px-24 pt-8 lg:col-span-4 lg:px-48 lg:pt-16 lg:pb-20">
                <Image src={PMR} alt="PimpMyRide" width={300} height={300}/>
            </div>
        </section>
        <Divider />
        <section class="grid grid-cols-12 mt-12 lg:mt-24 mb-12 lg:mb-24">
            <div class="text-center col-span-12 lg:text-left lg:col-span-8">
                <h1 class="text-4xl font-bold">Our Blog</h1>
                <br />
                <p>Welcome to the Official PimpMyRide Blog – Your Ultimate Destination for Everything about our Projects!</p>
                <p>The Blog is a space where we share our Behind the Scenes content, and project updates. 
                    The Official PimpMyRide Blog is your go-to source for PimpMyRide content, 
                    featuring the latest news, tips, and stories from us.</p>
            </div>
            <div class="col-span-12 px-24 pt-8 lg:col-span-4 lg:px-48 lg:pt-16 lg:pb-20">
                <Image src={PMR} alt="PimpMyRide" width={300} height={300}/>
            </div>
        </section>
        <Divider />
        <section class="grid lg:grid-cols-12 mt-12 lg:mt-24">
            <div class="text-center col-span-12 lg:text-left lg:col-span-8">
                <h1 class="text-4xl font-bold">RC-Car Project</h1>
                <br />
                <p>Introducing the PimpMyRide RC Car Lightbar Project.</p>
                <p>Upgrade your RC car with our specially designed lightbars, 
                    crafted to take your nighttime adventures to a whole new level. 
                    Illuminate the track, showcase your unique style, and stand out in the world of RC enthusiasts.</p>
            </div>
            <div class="col-span-12 px-24 pt-8 lg:col-span-4 lg:px-48 lg:pt-16 lg:pb-20">
                <Image src={PMR} alt="PimpMyRide" width={300} height={300}/>
            </div>
        </section>
    </main>
</Layout>